<% if user_signed_in? %>
    <script>document.location = "/home"</script>
<% else %>
    <style>
        body {
            background: url("/twitter-logo.png") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
    <div class="row">
        <div class="col-xs-6">
            <p>Left</p>
        </div>
        <div class="col-xs-6">
            <p>Right</p>
        </div>
    </div>
<% end %>
